body {
    background-color: #1e1e22;
    color: #fff;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.block{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 100px auto;
    width: 100px;
    height: 100px;
    background-color: #FFF;
    color: green;
    font-size: 20px;
    align-items: center;
    text-align: center;
    transition: all .3s;
}
.block span{
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.block:hover span{
    opacity: 1;
    visibility: visible;
}
.block::before{
    content: "";
    position: absolute;
    height: 10px;
    width: 500px;
    background-color: #0a0aff;
    left: -200px;
    top: -50px;
    opacity: 0;
    transition: all .8s ease;
    transform-origin:  left center;
    transform: scaleX(0);
}
.block:hover::before{
    opacity: 1;
    transform: scaleX(1);
}