body {
    color: #fff;
    font-size: 20px;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}
.transform{
    margin: 50px 0;
}
.transform__inner{
    display: flex;

}
.blocks{
    display: flex;
    flex-direction: column;
    
}
.block-1{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: red;
    justify-content: center;
    align-items: center;
    transform: translate(350px, 396px);
}
.block-2{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: rgb(37, 245, 117);
    transform: translate(200px, -40px) rotate(120deg);
    justify-content: center;
    align-items: center;
}
.block-3{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: rgb(42, 28, 245);
    transform: translate(447px, -147px) scale(2) rotate(180deg);
    justify-content: center;
    align-items: center;
}
.transform__task{
    width: 500px;
    height: 500px;
    border: 3px dotted #1e1e22;
}