:root{
  --general-text: #FFFFFF;
  --accent-text: #1F1711;
  --accent-text-2: #979797;
  --general-bg: #141414;
  --accent-bg: #E3E3DE;
  --accent-color: #F47521; 
  --transition: all .4s;
  --second-family: 'Archivo', sans-serif;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body{
  position: relative;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  line-height: 1.69;
  font-weight: 500;
  color: var(--general-text);
  background: var(--general-bg);
}
.wrapper{
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main{
  flex-grow: 1;
}
.main__hero {
  padding-bottom: 117px;
}
.main__better {
  padding-top: 26px;
  padding-bottom: 179px;
}
.main__programs {
  padding-top: 103px;
  padding-bottom: 136px;
  background: url(../img/WITHIN.png) 159% -7% / 1142px 389px no-repeat;
}
.main__company {
  padding-top: 100px;
  background: var(--accent-bg);
  color: var(--general-bg);
  padding-bottom: 238px;
}
.container{
    max-width: 1735px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}
.container--big{
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
}
/* .container--big{
  max-width: 1920px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
} */
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  font-family: var(--second-family);
  line-height: 1.44;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--general-bg);
  font-weight: 700;
  background: var(--accent-color);
  text-align: center;
  transition: var(--transition);
  width: 100%;
  height: 108px;
}
.button:hover{
  opacity: 0.6;
}